*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
html, body{
    font-family: 'Roboto';
    background-color:rgb(224,224,224);
    text-align: center;
}
.main{
    display: flex;
    height: 550px;
    background-color: rgb(255,248,227);
}

.content{
    float: left;
    width: 60%;
    height: 550px;}

.section{flex-direction: column;
    display: flex;
    margin-top: auto;
    flex-grow: 1;
}


.box1 {

    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(254,234,185);
    position: relative;
        width: 40%;
        height: 50px;
        margin: 1%;
        left: 1%;
        top: 300px;
    }

    .box2 {
        left: 49%;
        top: 231px;
        display: inline-flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(254,234,185);
    position: relative;
        width: 40%;
        height: 50px;
        margin: 1%;
    }
.box3{
    background-color: rgb(254,234,185);
        height: 50px;
        margin: 1%;
        position: relative;
        left: 1px;
        top: 250px;
        
    }    

aside {
    display: flex;
    justify-content: space-around;
    width: 40%;
    float: right;
    background-color: rgb(221,236,203);
    font-weight:bold;
    height: 100%;
}
h2, .haside{
    padding: 3%;
}



footer{
    clear: both;
    flex: 0 0 auto;
}
.footer1, .footer2, .footer3, .footer4 {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(250, 250, 250);
    height: 50px;
    width: 200px;
    font-size: 20px;
    margin: 1%;
    
}